.btn-default {
    float: right;
}

.pre-scrollable {
    max-height: 150px;
    margin-top: 10px;
}

input, select {
    outline: none;
}

.well {
    background-color: #f8f8f8;
}

#discount {
    border: 1px solid #ccc;
    border-radius: 4px;
}